@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  color: white;
  background-color: #121725;
  width: 100vw;
  height: 100vh;
}

nav {
  margin-top: 102px;
  margin-left: 11.46%;
}
nav img {
  width: 134.85px;
  height: 56px;
}
main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: -28px;
  padding-left: 11.46%;
}

.hero-text {
  width: 50.2vw;
  height: 509px;
  margin-top: 127px;
  z-index: 9999;
  background: #121725;
  padding: 88px 55px 0 0;
}

h1 {
  font-family: Chivo;
  font-size: 52px;
  font-weight: 300;
  line-height: 62px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

h1 span {
  color: #54e6af;
}

p {
  width: 445px;
  height: 84px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #c2cbe5;
  margin-bottom: 2.5rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 427px;
  height: 56px;
}
/* style form input */
input {
  width: 427px;
  height: 56px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  background: #2c344b;
  border-radius: 28px;
  border: #2c344b;
  padding: 14px 0 14px 34px;
}

input:focus {
  opacity: 1px;
  color: #ffffff;
}

.error-message {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.28px;
  text-align: left;
  color: #fb3e3e;
  margin: 0.5rem 34px;
}

/* style button */
button {
  position: absolute;
  color: #121725;
  background-color: #54e6af;
  border: #54e6af;
  box-shadow: 0px 25px 20px -20px #54e6af33;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  width: 162px;
  height: 46px;
  margin-left: 260px;
  text-align: center;
  border-radius: 28px;
  z-index: 2;
}

button:hover {
  background-color: #b3ffe2;
  box-shadow: 0px 25px 20px -20px #54e6af33;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

ul li {
  list-style: none;
}

.hero-img {
  position: absolute;
  width: 61.667vw;
  height: 640px;
  top: 130px;
  right: 0;
  z-index: 2;
  background-image: url("/src/assets/Bitmap.png");
  background-size: cover;
  background-position: top right;
}

.combined-shapes {
  position: absolute;
  content: url("/src/assets/Combined Shape.png");
  width: 232px;
  height: 104px;
  top: 718px;
  right: 0;
  z-index: 9999;
}

/* style tab */
@media (min-width: 375px) and (max-width: 768px) {
  nav {
    margin-top: 50px;
    margin-left: 39px;
  }
  nav img {
    width: 134.85px;
    height: 56px;
  }
  main {
    margin: 0;
    padding: 0;
  }
  .hero-text {
    width: 635px;
    margin: 152px 0 0 39px;
    padding: 93px 0 0 0;
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 1.9rem;
  }

  .hero-img {
    width: 491px;
    height: 767px;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
  }
  .combined-shapes {
    top: 920px;
    left: 30px;
  }
}
/* style mobile */
@media (max-width: 375px) {
  body {
    width: 100vw;
    height: 100vh;
    background-image: url("/src/assets/Bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: -1;
    margin: 0;
  }
  nav {
    position: absolute;
    top: 62px;
    left: 120px;
    margin: 0;
    padding: 0;
  }

  main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  .hero-text {
    width: 327px;
    height: 398px;
    text-align: center;
    background: none;
    padding: 0 24px;
    margin: 175px 0 0;
  }

  h1 {
    width: 327px;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 16px;
  }
  p {
    width: 327px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  .form-testimonial {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 33px;
    width: 327px;
    gap: 48px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 315px;
    gap: 0;
  }
  ul li:nth-child(1) img {
    width: 56px;
    height: 17px;
  }
  ul li:nth-child(2) img {
    width: 45px;
    height: 17px;
  }
  ul li:nth-child(3) img {
    width: 73px;
    height: 11px;
  }
  ul li:nth-child(4) img {
    width: 77px;
    height: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 108px;
    top: 465px;
    left: 24px;
    gap: 16px;
  }
  input,
  button{
    width: 327px;
    height: 46px;
  }

  form input{
    width: 100%;
  }
  form button {
    width: 100%;
    position: inherit;
    margin: 0;
  }
  .hero-img {
    display: none;
  }
  .combined-shapes {
    display: none;
  }
}
