@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  color: white;
  background-color: #121725;
  width: 100vw;
  height: 100vh;
}
nav{
  margin-top: 102px;
  margin-left: 11.46%;
}
nav img {
  width: 134.85px;
  height: 56px;
}
main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: -28px;
  padding-left: 11.46%;
}

.combined-shapes {
  position: absolute;
  content: url("src/assets/Combined Shape.png");
  width: 232px;
  height: 104px;
  top: 718px;
  right: 0;
  z-index: 9999;
}

.hero-text {
  width: 50.2vw;
  height: 509px;
  margin-top: 127px;
  z-index: 9999;
  background: #121725;
  padding: 88px 55px 0 0;
}

h1 {
  font-family: Chivo;
  font-size: 52px;
  font-weight: 300;
  line-height: 62px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

h1 span {
  color: #54e6af;
}

p {
  width: 445px;
  height: 84px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #c2cbe5;
  margin-bottom: 2.5rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 427px;
  height: 56px;
  margin-bottom: 4rem;
}
/* style form input */
input {
  width: 427px;
  height: 56px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  background: #2c344b;
  border-radius: 28px;
  border: #2c344b;
  padding: 14px 0 14px 34px;
}

input:focus {
  opacity: 1px;
  color: #ffffff;
}

.error-message {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.28px;
  text-align: left;
  color: #fb3e3e;
  margin: 8px;
}

/* style button */
button {
  position: absolute;
  color: #121725;
  background-color: #54e6af;
  border: #54e6af;
  box-shadow: 0px 25px 20px -20px #54e6af33;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  width: 162px;
  height: 46px;
  margin-left: 260px;
  text-align: center;
  border-radius: 28px;
  z-index: 2;
}

button:hover {
  background-color: #b3ffe2;
  box-shadow: 0px 25px 20px -20px #54e6af33;
}



ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

ul li{
  list-style: none;
}

.hero-img {
  position: absolute;
  width: 61.667vw;
  height: 640px;
  top: 130px;
  right: 0;
  z-index: 2;
  background-image: url("src/assets/Bitmap.png");
  background-size: cover;
  background-position: top right;
}

/* style desktop */

/* style tab */
@media (min-width: 375px) and (max-width: 768px) {
  nav{
    margin-top: 50px;
    margin-left: 5.08%;
  }
  .hero-img {
    width: 61.667vw;
    height: 767px;
    top: 0;
    right: 0;
  }
}
/* style mobile */
